@import "../../../../assets/styles/colors";

.language-menu {
  top: -100%;
  right: 1rem;
  position: fixed;
  background-color: $primary-lighten-color;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: 0.5s;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  width: 12.75rem;

  button {
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    width: 4rem;
    height: 4rem;

    box-sizing: border-box;
  }

  .mat-disabled {
    background-color: $action-text-color;
    color: $base-color;
  }

  .mat-enabled {
    background-color: $action-color;
    color: $base-color;
  }
}

.language-menu.open {
  background-color: $primary-lighten-color;
  border-radius: 0 0 0.25rem 0.25rem;
  top: 4rem;
  right: 1rem;
}

.language-menu.mobile {
  background-color: $secondary-darken-color;
  border-radius: 0 0 0 0.25rem;
  top: 4rem;
  right: -13rem;
}

.language-menu.mobile.open {
  background-color: $secondary-darken-color;
  border-radius: 0 0 0 0.25rem;
  top: 4rem;
  right: 13rem;
}
