@import "../../../../../../assets/styles/colors.scss";

.title-bar {
  background-color: $primary-darken-color !important;
  height: 4rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: row;

  mat-icon {
    margin-top: 0.25rem;
    scale: 1.5;
  }

  h1 {
    margin-left: 1.25rem;
  }
}

.content-zone {
  margin-top: -1rem;
  padding-top: 1.75rem;
  margin-bottom: -1rem;
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  color: $primary-text-color;

  span {
    font-size: 0.9rem;
  }

  .password-input {
    padding-top: 1rem;
    width: 100%;

    input {
      height: 2rem;
      background-color: $primary-color;
      border: $primary-darken-color;
      border-radius: 0.25rem;
      padding: 6px 12px;
      font-size: 1rem;

      &:focus {
        border-color: $primary-color;
        box-shadow: 0 0 0 2px rgba($primary-color, 0.25);
        outline: none;
      }
    }

    .error-message {
      height: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      color: $error-color;
    }
  }
}

.actions-bar {
  background-color: $primary-darken-color !important;
  height: 4rem;
  display: flex; // Zmień z grid na flex
  justify-content: space-between; // Rozstawia elementy równomiernie, pierwszy na początku, ostatni na końcu

  button {
    background-color: $action-color;
    color: $base-color;
    width: 6rem; // Ustal stałą szerokość dla przycisków
    height: 100%;
    margin: 0;
  }

  .mat-disabled {
    background-color: $action-text-color;
    color: $base-color;
  }

  .mat-enabled {
    background-color: $action-color;
    color: $base-color;
  }
}
