<div mat-dialog-title class="title-bar">
  <mat-icon>key</mat-icon>
  <h1>{{ "shared.dialog.password.title.label" | translate }}</h1>
</div>
<div mat-dialog-content class="content-zone">
  <span>
    {{ "shared.dialog.password.short-instruction.label" | translate }}</span
  >

  <div class="password-input">
    <input
      id="password"
      type="password"
      [(ngModel)]="password"
      required
      minlength="8"
      [placeholder]="passwordPlaceholder"
    />
    <div class="error-message">{{ passwordError }}</div>
  </div>
</div>
<div mat-dialog-actions class="actions-bar">
  <button mat-button mat-dialog-close>
    {{ "shared.dialog.button.cancel.label" | translate }}
  </button>
  <button mat-button (click)="onEnterClick()">
    {{ "shared.dialog.button.enter.label" | translate }}
  </button>
</div>
