<div class="side-menu" [ngClass]="{ open: sideMenuService.isOpen$ | async }">
  <button
    mat-button
    class="language"
    [attr.aria-expanded]="isLanguageMenuOpen ? 'true' : 'false'"
    (click)="toggleLanguageMenu()"
  >
    {{ getLanguage() }}
  </button>
  <ng-container *ngFor="let menuItem of menuItems">
    <button mat-raised-button (click)="naviageTo(menuItem.path)">
      {{ menuItem.title | translate }}
    </button>
  </ng-container>
</div>
<app-language-menu
  #languageMenuComponent
  [triggeringButton]="triggeringButton"
  [isMobile]="isMobile"
></app-language-menu>
