@import "../../../../assets/styles/colors.scss";

mat-card {
  max-width: 64rem;
  margin: auto;
  background-color: $primary-color;

  mat-card-header {
    min-height: 4rem;

    mat-card-title {
      margin-left: 0.25rem;
      h1 {
        font-weight: 450;
        color: $base-text-color;
        margin-bottom: -0.25rem;
      }
    }
    mat-card-subtitle {
      margin-left: 0.25rem;
      margin-bottom: 1rem;

      span {
        color: $base-text-color;
      }
    }
  }

  mat-card-content {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: $secondary-color;
    color: $primary-text-color;
  }

  mat-card-actions {
    margin: -0.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
    gap: 0.25rem;
    button {
      background-color: $action-color;
      color: $base-text-color;
      height: 3rem;
      width: 100%;

      mat-icon {
        scale: 1;
        margin-left: 0;
        margin-top: 0;
      }
    }

    .mat-disabled {
      background-color: $action-text-color;
      color: $base-color;
    }

    .mat-enabled {
      background-color: $action-color;
      color: $base-color;
    }
  }

  @media (max-width: 600px) {
    mat-card-actions {
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    }
  }

  mat-icon {
    scale: 2;
    color: $base-text-color;
    margin-left: 0.75rem;
    margin-top: 0.75rem;
  }
}
