mat-toolbar {
  width: 100%;
  bottom: 0;
  z-index: 100; /* Aby upewnić się, że pasek narzędzi jest nad innymi elementami */
  font-size: 0.75rem;
  font-weight: 400;
  color: gray;

  .footer-spacer {
    flex: 1 1 auto;
  }

  .company-link {
    color: gray;
  }
}
