$primary-color: rgb(66, 90, 88);
$primary-lighten-color: lighten($primary-color, 20%);
$primary-darken-color: darken($primary-color, 5%);
$primary-text-color: darken($primary-color, 40%);
$secondary-color: lighten($primary-color, 37.5%); //rgb(161, 192, 187);
$base-color: rgb(255, 254, 238);
$base-text-color: lighten($base-color, 20%);
$action-text-color: rgb(246, 197, 166);
$action-color: darken($action-text-color, 20%);
