<mat-toolbar>
  <div class="mat-icon-background">
    <mat-icon>looks_one</mat-icon>
  </div>
  Rezerwacje i Płatności
</mat-toolbar>
<div class="description">
  <ol type="a">
    <li>
      Rezerwacje dokonane poprzes platformy zewnętrzne, takie jak: Booking,
      AirBnB, Noclegowo, Vrbo oraz TripAdvisor są zarządzane zgodnie z
      ustaleniami i zasadami ustawionymi na tych platformach.
    </li>
    <li>
      Rezerwacja bezpośrednia może zostać zawarta telefonicznie, mailowo lub za
      pomocą dostępnych kanałów komunikacyjnych takich jak messenger lub
      instagram.
    </li>
    <li>
      W przypadku rezerwacji bezpośredniej,
      <u>wymagana jest zaliczka w wysokości 50% ceny całego pobytu</u>.
      Pozostała część kwoty
      <u
        >musi zostać opłacona nie później niż 2 tygodnie przed dniem
        zameldowania</u
      >.
    </li>
    <li>
      Rezerwację bezpośrednią można opłacić za pomocą przelewu tradycyjnego,
      przelewu na telefon lub za pomocą aplikacji Revolut.
    </li>
  </ol>
</div>
<mat-toolbar>
  <div class="mat-icon-background">
    <mat-icon>looks_two</mat-icon>
  </div>
  Zameldowanie/Wymeldowanie i Parking
</mat-toolbar>
<div class="description">
  <ol type="a">
    <li>
      Doba w apartamencie zaczyna się od <u>16:00</u>, a kończy o <u>12:00</u>.
    </li>
    <li>Możliwe są elastyczne godziny zameldowania oraz wymeldowania.</li>
    <li>
      Wcześniejsze zameldowanie lub późniejsze wymeldowanie jest możliwe za
      dodatkową opłatą ale tylko wtedy, gdy apartament jest dostępny.
    </li>
    <li>
      Dostępne jest bezpłatne miejsce parkingowe nr <u>21</u> znajdujące sie na
      zamkniętym osiedlu.
    </li>
  </ol>
</div>
<mat-toolbar>
  <div class="mat-icon-background">
    <mat-icon>looks_3</mat-icon>
  </div>
  Zasady pobytu
</mat-toolbar>
<div class="description">
  <ol type="a">
    <li>
      Palenie (w tym e-papierosy) jest
      <u>zabronione na terenie całego obiektu</u>, z wyjątkiem wyznaczonych
      miejsc (np. taras w przy zamkniętych oknach).
    </li>
    <li>
      Kara za palenie w miejscach niedozwolonych zaczyna się <u>od 200 zł</u> i
      jest liczona zależnie od kosztów dodatkowego sprzątania i szkód.
    </li>
    <li>
      Cisza nocna w apartamencie obowiązuje od <u>22:00</u> do <u>6:00</u>.
    </li>
    <li>
      <u>Zwierzęta nie są akceptowane</u>, kara za naruszenie zasady wynosi
      <u>od 200 zł</u> i jest liczona zależnie od kosztów dodatkowego sprzątania
      i szkód.
    </li>
    <li>
      Każda nadmiarowa, nie ujęta w rezerwacji osoba powyżej dwóch gości liczona
      jest jako dodatkowa osoba bez rabatów, to jest
      <u>100zł za osobę za noc</u>.
    </li>
    <li>
      W przypadku chęci skorzystania z dodatkowych poduszek lub kołder, należy
      skontaktować się z obsługą apartamentu pod numerem wymienionym w
      regulaminie 5b, w celu otrzymania dodatkowych poszewek.
    </li>
    <li>
      Korzystanie z nieprzygotowanych (tj. nie ubranych w poszewki) kompletów
      kołder i poduszek obłożone jest karą <u>od 200zł</u>.
    </li>
  </ol>
</div>
<mat-toolbar>
  <div class="mat-icon-background">
    <mat-icon>looks_4</mat-icon>
  </div>
  Bezpieczeństwo i Odpowiedzialność
</mat-toolbar>
<div class="description">
  <ol type="a">
    <li>
      Prosimy o zamekanie okien, gaszenie świateł, wyłączanie urządzeń
      elektrycznych i zakręcanie wody w momencie opuszczania apartamentu.
    </li>
    <li>Zimą nie należy ustawiać grzejników na 0 w pobliżu otwartych okien.</li>
    <li>
      Osoba rezerwująca ponosi odpowiedzialność za wszelkie szkody wyrządzone w
      apartamencie.
    </li>
    <li>
      W przypadku utraty kluczy konieczny jest natychmiastowy kontakt z obsługą
      pod jednym z numerów wymienionych w regulaminie 5b.
    </li>
    <li>
      Obsługa apartamentu nie bierze odpowiedzialności za nie wylogowywanie się
      z kont na platformach vod na telewizorze. Instrukcje jak się wylogować
      znajdują zę na stronie z udogodnieniami.
    </li>
    <li>
      Rzeczy zgubione w apartamencie przetrzymywane są przez osbługę minimum 2
      tygodnie. Obsługa apartamentu podejmie w tym czasie minimum 3 próby
      skontaktowania się z gościem. Po tym czasie przedmioty te zostaną
      zutylizowane i ich odzyskanie może być już niemożliwe.
    </li>
  </ol>
</div>
<mat-toolbar>
  <div class="mat-icon-background">
    <mat-icon>looks_5</mat-icon>
  </div>
  Kontakt i Awaryjne Sytuacje
</mat-toolbar>
<div class="description">
  <ol type="a">
    <li>
      W przypadku awarii lub innych nagłych sytuacji, należy skontaktować się z
      obsługą apartamentu.
    </li>
    <li>
      W celu skontaktowania się z obsługą apartamentu należy zadzwonić pod jeden
      z dwóch numerów: <u>+48 515 842 017</u> lub <u>+48 515 173 267</u>. Więcej
      informacji znajdą państwo na stronie "Kontakt".
    </li>
    <li>Telefon alarmowy w kraju to: <u>112</u></li>
  </ol>
</div>
<mat-toolbar>
  <div class="mat-icon-background">
    <mat-icon>looks_6</mat-icon>
  </div>
  Dodatkowe usługi
</mat-toolbar>
<div class="description">
  <ol type="a">
    <li>
      Dodatkowe sprzątanie wykonywane jest tylko na żądanie gości znajdujących
      się w apartamencie.
    </li>
    <li>
      Za dodatkowe sprzątanie podczas pobytu pobierana jest opłata w wysokości
      150 zł.
    </li>
    <li>
      Sejf w mieszkaniu dostępny jest dla gości za dodatkową opłatą 20 zł za
      dobę.
    </li>
    <li>
      Istnieje możliwość zamówienia transportu na lotnisko lub do i z
      okolicznych atrakcji. Więcej na ten temat znajduje się na podstronie
      "Transport".
    </li>
  </ol>
</div>
