@import "../../../../assets/styles/colors";

.toolbar-placeholder {
  height: 4rem;
}

mat-toolbar {
  height: 4rem !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s;
  z-index: 1000;
  background-color: $primary-darken-color;
  color: $base-text-color;
  min-width: 350px;

  .logo-spacer {
    flex: 0 1 1rem;
  }

  .menu-spacer {
    flex: 1 1 auto;
  }

  button {
    height: 100%;

    mat-icon {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(2);
      padding-left: 0.25rem;
    }
  }
}

@media (max-width: 599px) {
  mat-toolbar {
    padding-top: 0.25rem;

    button {
      height: calc(100% + 0.25rem);
    }
  }
}

.side-menu {
  width: 13rem;
  position: fixed;
  right: -13rem;
  top: 4rem;
  height: 100vh;
  background-color: rgb(50, 50, 50);
  z-index: 100;
  overflow-x: hidden;
  transition: 0.5s;

  button.language {
    margin: 0.25rem 0rem 0rem 0.25rem;
    width: 4rem;
    height: 4rem;
  }

  button {
    margin: 0.25rem;
    width: calc(100% - 0.5rem);
    height: 4rem;
  }
}

.side-menu.open {
  right: 0;
}

.language-menu {
  top: -20rem;
  left: -20rem;
  position: absolute;
  background-color: $primary-lighten-color;
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  transition: 0.5s;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  width: 12.75rem;

  button {
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    width: 4rem;
    height: 4rem;

    box-sizing: border-box;
  }

  .mat-disabled {
    background-color: $action-text-color;
    color: $base-color;
  }

  .mat-enabled {
    background-color: $action-color;
    color: $base-color;
  }
}
