.toolbar-placeholder {
  height: 4rem;
}

.toolbar {
  height: 4rem !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s;
  z-index: 1000;
}
@media (max-width: 599px) {
  .toolbar {
    padding-top: 0.25rem; /* zmniejszony margines/padding dla mniejszych ekranów */
  }
}

.logo-spacer {
  flex: 0 1 1rem;
}

.menu-spacer {
  flex: 1 1 auto;
}

.sub-toolbar-osw {
  border-top: 1px solid rgb(255, 255, 255, 15%);
  height: 0rem;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.sub-toolbar-osw.expanded {
  height: 2.5rem;
}

.toolbar-button {
  height: 100%;
}

.toolbar-button-icon {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(2);
  padding-left: 0.25rem;
}

.side-menu {
  width: 12rem;
  position: fixed;
  right: -12rem;
  top: 4rem;
  height: 100vh;
  background-color: rgb(50, 50, 50);
  z-index: 100;
  overflow-x: hidden;
  transition: 0.5s;

  .language-button {
    width: 4rem;
    height: 4rem;
  }

  .button {
    width: 100%;
    height: 4rem;
  }
}

.open {
  right: 0; /* Położenie po wysunięciu */
}
