<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <mat-icon>dashboard</mat-icon>
    <span class="logo-spacer"></span>
    <span>Słoneczny Apartament</span>
    <span class="menu-spacer"></span>
    <ng-container *ngFor="let menuItem of menuItems">
      <button
        mat-button
        class="toolbar-button"
        (click)="naviageTo(menuItem.path)"
      >
        {{ menuItem.title | translate }}
      </button>
    </ng-container>
    <button mat-button [matMenuTriggerFor]="menu" class="toolbar-button">
      {{ getLanguage() }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="switchLanguage('en')">🇬🇧</button>
      <button mat-menu-item (click)="switchLanguage('pl')">🇵🇱</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="toolbar-placeholder"></div>
