.toolbar-placeholder {
  height: 4rem;
}

mat-toolbar {
  height: 4rem !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: top 0.3s;
  z-index: 1000;
  background-color: rgb(66, 90, 88);

  .logo-spacer {
    flex: 0 1 1rem;
  }

  .menu-spacer {
    flex: 1 1 auto;
  }

  button {
    height: 100%;

    mat-icon {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: scale(2);
      padding-left: 0.25rem;
    }
  }
}

@media (max-width: 599px) {
  mat-toolbar {
    padding-top: 0.25rem;

    button {
      height: calc(100% + 0.25rem);
    }
  }
}

.side-menu {
  width: 13rem;
  position: fixed;
  right: -13rem;
  top: 4rem;
  height: 100vh;
  background-color: rgb(50, 50, 50);
  z-index: 100;
  overflow-x: hidden;
  transition: 0.5s;

  button.language {
    margin: 0.25rem 0rem 0rem 0.25rem;
    width: 4rem;
    height: 4rem;
  }

  button {
    margin: 0.25rem;
    width: calc(100% - 0.5rem);
    height: 4rem;
  }
}

.side-menu.open {
  right: 0;
}
