<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon>dashboard</mat-icon>
    <span class="logo-spacer"></span>
    <span>Słoneczny Apartament</span>
    <span class="menu-spacer"></span>
    <ng-container *ngIf="!isMobile">
      <ng-container *ngFor="let menuItem of menuItems">
        <button mat-button (click)="naviageTo(menuItem.path)">
          {{ menuItem.title | translate }}
        </button>
      </ng-container>
      <button mat-button [matMenuTriggerFor]="menu">
        {{ getLanguage() }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="switchLanguage('en')">🇬🇧 English</button>
        <button mat-menu-item (click)="switchLanguage('pl')">🇵🇱 Polski</button>
      </mat-menu>
    </ng-container>
    <button mat-button *ngIf="isMobile" (click)="toggleSideMenu()">
      <mat-icon *ngIf="!isSideMenuOpen">menu</mat-icon>
      <mat-icon *ngIf="isSideMenuOpen">close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="toolbar-placeholder"></div>
<div class="side-menu" [ngClass]="{ open: isSideMenuOpen }">
  <button mat-raised-button class="language" [matMenuTriggerFor]="menu">
    {{ getLanguage() }}
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="switchLanguage('en')">🇬🇧 English</button>
    <button mat-menu-item (click)="switchLanguage('pl')">🇵🇱 Polski</button>
  </mat-menu>
  <ng-container *ngFor="let menuItem of menuItems">
    <button mat-raised-button (click)="naviageTo(menuItem.path)">
      {{ menuItem.title | translate }}
    </button>
  </ng-container>
</div>
