<div class="page-content">
  <h1>Instrukcja Zameldowania</h1>
  <h2>Wstęp</h2>
  <p>
    Witamy na naszej instrukcji dotyczącej zameldowania w naszym apartamencie w
    Oświęcimiu. Wysłaliśmy Ci link do niej, by jak najbardziej komfortowo
    przeprowadzić Cię przez proces zameldowania. Prosimy proszę o postępowanie z
    instrukcją krok po kroku.
  </p>
  <h2>Dojazd</h2>
  <p>Mieszkanie znajduje się pod adresem:</p>
  <p>32-600 Oświęcim</p>
  <p>ul. Generała Władysława Sikorskiego 14E/4</p>
  <p>
    Poniżej umieszczona została mapka z zaznaczoną lokalizacją apartamentu
    (adres na Google Maps jest niestety nieaktualny).
  </p>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.434187729237!2d19.20949157722037!3d50.04069721678149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47169571dd988297%3A0x4f63fa1c54ec7619!2zU8WCb25lY3pueSBBcGFydGFtZW50IE_Fm3dpxJljaW0!5e0!3m2!1spl!2spl!4v1704635532036!5m2!1spl!2spl"
    width="100%"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <h2>Zameldowanie</h2>
  <p>
    Dla ułatwienia procesu zameldowania, załączamy mapkę z uproszczoną
    instrukcją wraz z opisem.
  </p>
  <img src="./../../../../../assets/images/maps/osw-check-in-map.png" />
  <p>1. Do wejścia na teren apartamentu mamy dwie opcje:</p>
  <p>- Za pomocą bramki dla pieszych (kod: #5045738#)</p>
  <p>- Za pomocą bramy dla samochodów (kod: ##5045738#)*</p>
  <p>
    * W przypadku wjazdu samochodem, do mieszkania przypisane jest miejsce
    parkingowe numer 21
  </p>
  <p>
    2. Do wejścia do budynku używamu tego samego kodu co do bramki (kod:
    5045738#)
  </p>
  <p>
    3. Kod do klamki od mieszkania wysyłany jest osobną wiadomością w momencie
    gdy mieszkanie jest już gotowe do zameldowania.
  </p>
</div>
