<mat-toolbar>
  <div class="mat-icon-background">
    <mat-icon>info</mat-icon>
  </div>
  Informacje
</mat-toolbar>
<div class="description">
  <p>
    {{ "obj.pages.osw.wifi.content.intro.label" | translate }}
  </p>
</div>
<mat-toolbar>
  <div class="mat-icon-background">
    <mat-icon>security</mat-icon>
  </div>
  Hasła
</mat-toolbar>
<div class="description">
  <p>{{ "obj.pages.osw.wifi.content.password.intro.label" | translate }}:</p>
  <p class="address-ident">
    - {{ "obj.pages.osw.wifi.content.password.ssid25.label" | translate }}:
    <button
      mat-raised-button
      (click)="openDialog()"
      [disabled]="isUnlocked"
      [color]="isUnlocked ? 'disabled' : 'enabled'"
    >
      {{ wiFiName | translate | uppercase }}
    </button>
  </p>
  <p class="address-ident">
    - {{ "obj.pages.osw.wifi.content.password.label" | translate }}:
    <button
      mat-raised-button
      (click)="openDialog()"
      [disabled]="isUnlocked"
      [color]="isUnlocked ? 'disabled' : 'enabled'"
    >
      {{ wiFiPassword | translate | uppercase }}
    </button>
  </p>
  <p>
    {{ "obj.pages.osw.wifi.content.password.security.label" | translate }}
  </p>
</div>
