<mat-toolbar>
  <img src="assets/images/logos/megogo-logo.png" />
  {{ "obj.pages.osw.amenities.content.online-tv.title.label" | translate }}
  MEGOGO
</mat-toolbar>
<div class="description">
  <p>
    {{
      "obj.pages.osw.amenities.content.online-tv.description.part-one.label"
        | translate
    }}
  </p>
  <p>
    {{
      "obj.pages.osw.amenities.content.online-tv.description.part-two.label"
        | translate
    }}
  </p>
  <p>
    {{
      "obj.pages.osw.amenities.content.online-tv.description.part-three.label"
        | translate
    }}
  </p>
</div>
<mat-toolbar>
  <img src="assets/images/logos/prime-video-logo.png" />
  Prime Video
</mat-toolbar>
<div class="description">
  <p>
    {{
      "obj.pages.osw.amenities.content.prime-video.description.part-one.label"
        | translate
    }}
  </p>
  <p>
    {{
      "obj.pages.osw.amenities.content.prime-video.description.part-two.label"
        | translate
    }}
  </p>
  <p>
    {{
      "obj.pages.osw.amenities.content.prime-video.description.part-three.label"
        | translate
    }}
  </p>
</div>
<mat-toolbar>
  <img src="assets/images/logos/android-tv-logo.png" />
  Android TV
</mat-toolbar>
<div class="description">
  <p>
    {{
      "obj.pages.osw.amenities.content.android-tv.description.part-one.label"
        | translate
    }}
  </p>
  <p>
    {{
      "obj.pages.osw.amenities.content.android-tv.description.part-two.label"
        | translate
    }}
  </p>
  <p>
    {{
      "obj.pages.osw.amenities.content.android-tv.description.part-three.label"
        | translate
    }}
  </p>
  <p>
    {{
      "obj.pages.osw.amenities.content.android-tv.description.part-four.label"
        | translate
    }}
  </p>
</div>
