<mat-toolbar>
  <img src="../../../assets/images/logos/megogo-logo.png" />
  Telewizja Online MEGOGO
</mat-toolbar>
<div class="description">
  <p>
    Jednym z głównych atutów naszego apartamentu jest dostęp do podstawowego
    pakietu telewizji internetowej MEGOGO z naszego Smart TV, oferującego bogatą
    rozrywkę dla każdego.
  </p>
  <p>
    Z MEGOGO możesz cieszyć się dostępem do 95 kanałów telewizyjnych, w tym
    popularnych stacji takich jak Eleven Sports, TVN24, Disney Channel, Ale
    Kino+ i Kino Polska. To idealna propozycja zarówno dla miłośników sportu,
    aktualnych wiadomości, filmów familijnych, jak i kina artystycznego.
  </p>
  <p>
    Dodatkowo, MEGOGO oferuje imponującą kolekcję ponad 2200 filmów i seriali.
    Niezależnie od tego, czy preferujesz najnowsze hity kinowe, klasyki, czy
    popularne seriale, nasza oferta spełni Twoje oczekiwania. Spędzaj wieczory
    na relaksującym seansie filmowym, ciesząc się wygodą i prywatnością własnego
    apartamentu.
  </p>
</div>
<mat-toolbar>
  <img src="../../../assets/images/logos/prime-video-logo.png" />
  Prime Video
</mat-toolbar>
<div class="description">
  <p>
    Podczas pobytu w naszym apartamencie zapewniamy Ci dostęp do Prime Video na
    naszym Smart TV. Możesz korzystać z bogatej oferty filmów, seriali i
    ekskluzywnych produkcji Amazon Originals, bez dodatkowych opłat. Oferujemy
    Ci wygodny i nieograniczony dostęp do szerokiej gamy rozrywki.
  </p>
  <p>
    Ciesz się nieograniczonym dostępem do różnorodnej kolekcji filmów i seriali
    dostępnych na Prime Video. Od najnowszych hitów po klasyki kina, a także
    bogatą ofertę seriali, w tym ekskluzywne produkcje Amazon Originals,
    dostępne są na wyciągnięcie ręki.
  </p>
  <p>
    Znajdziesz tam ekskluzywne treści Amazon Originals, które z pewnością
    wzbogacą Twój czas spędzony w naszym apartamencie. Odkrywaj nowe historie i
    przeżywaj niezapomniane chwile z oryginalnymi produkcjami, dostępnymi tylko
    na Prime Video.
  </p>
</div>
<mat-toolbar>
  <img src="../../../assets/images/logos/android-tv-logo.png" />
  Android TV
</mat-toolbar>
<div class="description">
  <p>
    W naszym apartamencie zapewniamy najnowocześniejsze doświadczenia rozrywkowe
    dzięki telewizorowi z systemem Android TV. Ten zaawansowany system umożliwia
    dostęp do szerokiej gamy darmowych i płatnych platform VOD, co oznacza, że
    nasi goście mogą cieszyć się różnorodnością treści na wyciągnięcie ręki.
  </p>
  <p>
    Dzięki Android TV, goście mają możliwość korzystania z popularnych serwisów
    streamingowych takich jak YouTube, Netflix, Disney+, czy SkyShowTime. Możesz
    łatwo zalogować się na swoje konta, aby uzyskać dostęp do ulubionych filmów,
    seriali i programów, oferując rozrywkę dla każdego.
  </p>
  <p>
    Pragniemy podkreślić, że w przypadku korzystania z własnych kont na
    wspomnianych platformach, ważne jest, aby pamiętać o wylogowaniu się ze
    swojego konta na telewizorze po zakończeniu oglądania. Jest to istotne dla
    ochrony prywatności i bezpieczeństwa Twoich danych.
  </p>
  <p>
    Dla większej wygody i bezpieczeństwa, rekomendujemy również opcję "rzucania"
    ekranu z telefonu na telewizor. Ta funkcja pozwala na bezpośrednie
    przesyłanie treści z urządzenia mobilnego na telewizor bez konieczności
    logowania się na poszczególnych aplikacjach na telewizorze. Jest to szybki i
    bezpieczny sposób na dzielenie się treściami i cieszenie się nimi na
    większym ekranie.
  </p>
</div>
